body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;

    background-color: #b9e0ec;
    color: #333;
}

#upload-container {
    margin-bottom: 20px;
}

.custom-file-upload {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #4CAF50;
    cursor: pointer;
    border-radius: 5px;

    transition: background-color 0.3s ease-in-out;
}
.custom-file-upload:hover {
    background-color: #45a049;
}

#video-container {
    margin-top: 20px;
    /* height: 10px;
    width: 100px; */
}
#videoPlayer {
    width: 640px;
    height: 480px;

    border: 2px solid #ddd;
    border-radius: 5px;
}

#videoPlayer:hover {
    border-color: #4CAF50;
}